.person{
    word-break: break-all;
    cursor: pointer;
    font-size: 3rem;
    color:grey;
    text-transform: uppercase;
    font-weight: bold;
    text-align: justify;
}
.person:hover{
    color:#fff;

}
h1#hashtag {
    color:rgb(165, 165, 165);
}
footer,a:link,a:visited,a:active{
    color:rgb(97, 97, 97);
    font-size: small;
    margin: 1em 0;
}